*{
    margin: 0;
    padding: 0;
    outline: 0;
}


 body {
    font-family: "roboto", sans-serif;
    margin: 0;

}

.principal{
  height: 100vh;
  display: flex;
  background-color: rgb(202, 233, 243);
}

.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 75px;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.section-lista {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-bottom: 200px;
  flex-direction: column
}

.article-lista{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;

}

li{
    list-style: none;
}

.header-menu{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 50px;
    background-color: rgb(95, 173, 197); 
}

.header-menu nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;

}

.lista-menu {
    display: flex;
    justify-content: space-evenly;
    width: 50% ;
    align-items: center;
}

.lista-menu li > a {

    color: #ffffff;
    font-size: 18px;
    text-decoration: inherit;
}


.subcontainer-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.nome-completo{
    font-size: 36px;
    color: #30537a;
    font-weight: 700;
    height: 45px;
}

.profissao{
    color: #6388b3;
    height: 60PX;
  }
  
  .texto-sobre {
    font-size: 20px;
    line-height: 32px;

  }
  
  
  .topico-principal {
    font-size: 36px;
    color: #30537a;
  }
  
  .lista-item{
    padding: 32px;
  }
  
  .lista-item ul li {
    margin-bottom: 32px;

  }
  
  .lista-titulo{
   margin-bottom: 5px; 
   font-size: 22px;
   color: #6388b3;
   font-weight: 700;
  }

  
  .lista-local{
    font-size: 18px;
    color: #2F80ED;
    
  }
  
  .lista-descricao {
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px; 
    color: #8f9094;
    font-weight: 300;
  }

  .rodape{
    background-color: rgb(95, 173, 197);
    height: 300px;
    display: flex;
    align-items: center;    
  }
  .lista-rodape li{
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin-right: 16px;
    display: flax;
    align-items: center;
  }
  .estilo-icone{
    font-size: 32px;
    margin-right: 10px;
  }

  .foto-perfil{
    height: 180px;
    width: 150px;
  }